body{
    background: linear-gradient(180deg, #374151 0%, #111827 100%);

}

header {
  margin-top: 81px;
}

main{
    margin-top: 80px;}

.logo a {
    color: #FFF;
    text-decoration: none;
    
}

.navigation a {
    color: #FFF;
    text-decoration: none;
}

.navigation li {
    list-style-type: none;
}    

.search {
    background: #1F293799;
    border: none;
    width: 224px;
    height: 20px;
    border-radius: 100px ;
   padding: 10px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    opacity: .5;
    color: #FFFFFF;
}

main h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
    width: 525px;
    margin-bottom: 30px;
}

.author-block {
    margin-bottom: 28px;
}

.author  {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.author p  {
  font-size: 16px;
}


.opacity {
    opacity: .5;
    font-size: 14px;
    margin-top: -15px;
}

.mac {
    margin-bottom: 69px;
}

.text {
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    width: 708px;
   
}

.text1 {    
    font-size: 20px;
    margin-bottom: 40px;
   
}

.text2 {    
    font-size: 16px;
    margin-bottom: 40px;
}

footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: .5;
    color: #FFFFFF;
    margin-top: 103px;
    margin-bottom: 77px;
}
