body{
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    font-family: 'Roboto', sans-serif;

}

header {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero {
    display: flex;
    margin-top: 81px;
    justify-content: space-between;
    align-items: center;
   
}

.hero a {
    color: #FFF;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    
}

.navigation ul {
    margin-right: 250px;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

.navigation a {
    color: #FFF;
    text-decoration: none;
}

.navigation li {
    list-style-type: none;
}    

form {
    position: relative;
}
form img {
    position: absolute;
    top: 13px;
    left: 18px;
}
input {
    font-size: 16px;
    border-radius: 100px;
    padding: 11px 12px 11px 49px;
    background: rgba(31, 41, 55, 0.6);
    color: #fff;
    border: 0;
    outline: none;
    caret-color: gray;
}
form input::placeholder {
    font-weight: 400;
    line-height: normal;
    color: #a3a7ae;
}
form input:focus-visible {
    outline: 1px solid #4b5563;
}


main{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    opacity: .5;
    color: #FFFFFF;
    margin-top: 80px;
    text-align: center;
}

span {  
    position: relative;
    margin: 15px;
}


span::after {
    content: url(./images/circle.svg);
    position: absolute;
    top:-3px;
    right: -12px;
}

main h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
    width: 525px;
    margin-bottom: 30px;
    text-align: center;
    
}

.author-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.author-block img {
    margin-right: 20px;
    margin-top: 20px;
}

.author  {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.author p  {
  font-size: 16px;
}


.opacity {
    opacity: .5;
    font-size: 14px;
    margin-top: -15px;
}

.mac {
    margin-bottom: 69px;
}

.text {
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    width: 708px;
   
}

.text1 {    
    font-size: 20px;
    margin-bottom: 40px;
   
}

.text2 {    
    font-size: 16px;
    margin-bottom: 40px;
    width: 690px;
}


footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    opacity: .5;
    color: #FFFFFF;
    margin-top: 103px;
    margin-bottom: 77px;
    text-align: center;
}

