*{
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}

.main__wrapper{
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
}

.main__top{
    text-align: center;
}

.main__h1{
    font-size: 48px;
}

.main__p{
    font-size: 17px;
    color: #4E5D7C80;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 100px));
    gap: 24px;
}

.card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    padding: 40px;
}

.card__top{
    margin-bottom: 50px;
}

.card__h2{
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    line-height: 38.4px;
}

.card__h2:first-child{
    margin-top: 50px;
}

.card__p{
    font-size: 17px;
    font-weight: 500;
    color: #4E5D7C80;
}

.card__p3{
    font-size: 17px;
    font-weight: 500;
    color: #4E5D7C80;
    margin-bottom: -18px;
}

.price__item {
    margin-top: 33px;
    color:#4E5D7C
}

.span__price {
    margin-right: 28px;
}

.span__benefit {
    margin-right: 72px;
   
}
.span__month {
    margin-right: 20px;
    
}

.line{
   border: 1px solid #4E5D7C14;
   width: 279px;
   margin-top: 16px;
   margin-bottom: -16px;
}

.price{
    margin-bottom: 40px;
}

.tag {
    background-color: #1ABC9C;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 16px;
}

.tag span{
font-size: 15px;
font-weight: 800;
line-height: 21px;
}

.active {
    background-color: #FFC736;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 8px;
    
}


.btn {
    width: 289px;
    height: 48px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 47px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    margin: 0 auto;
    margin-left: -10px;
}


.card:hover{
    background-color: #357EFE;
    color: #FFFFFF;
    cursor: pointer;
}

.card:hover .card__p {
    color: #FFFFFF99;
    
}

.card:hover .card__p3 {
    color: #FFFFFF99;
    
}

.card:hover .price__item{
    color: #FFFFFF;
}


.card:hover .btn{
    background-color: #FFFFFF;
    color: #357EFE;
}

@media (max-width:1115px){
    .cards{
        justify-content: center;
    }
}

@media (max-width:770px){
    .main__top{
        margin-bottom: -22px;
    }

    .main__h1{
        font-size: 36px;
        padding: 24px;
        margin-bottom: -24px;
    }
    
    .cards{
        justify-content: center;
    }
}

@media (max-width:680px){

    .main__top{
        margin-bottom: -24px;
    }

    .main__h1{
        font-size: 36px;
        text-align: center; 
    }
    
    .main__p{
        font-size: 17px;
    
    }
}

@media (max-width:480px){

    .main__h1{
        font-size: 36px;
        margin-bottom: -24px;
        text-align: start;
        margin-left: 30px;
    }
    
    .main__p{
        font-size: 17px;
        text-align: start;
        margin-left: 60px;
    }
}