body{
    background-color: #F39494;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}

form{
    margin-top: 150px;
    background-color: white;
    width: 582px;
    height: 573px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

h1{
    font-size: 36px;
    margin-top: 72px;
}

p{
    font-size: 18px;
    color: #666666;
    margin-top: -15px;
}

input:focus {
    outline: none;
}

.search{
    width: 394px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    padding-left: 10px;
}

.input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 47px;
}

.name{
    width: 190px;
    height: 44px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ffffff;
    background-color: #F5F5F5;
    padding: 0px 0px 0px 10px;
    margin: -2px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.surname{
    width: 190px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 0px 0px 0px 10px;
    margin: -2px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.email{
    width: 394px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 0px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}


button{
    width: 405px;
    height: 44px;
    background-color: #089FE0;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

button::after{
    content: url(./images/Arrow1.svg);
    margin-left: 75px;
    position: absolute;
}

span{
    color: #666666; 
    font-size: 14px;
}

a{
    color: #089FE0;
    text-decoration: none;
}